@*@model IEnumerable<RecipeCardViewModel>

@{
    ViewData["Title"] = "My Favorites";
}

<h2>Saved Recipes</h2>

<div class="row">
    @foreach (var recipe in Model)
    {
        <partial name="_RecipeCardPartial" model="recipe" />
    }
</div>
*@