@*@model IEnumerable<NotificationViewModel>

@{
    ViewData["Title"] = "Notifications";
}

<h2>Notifications</h2>

<ul>
    @foreach (var notification in Model)
    {
        <li>@notification.Message (@notification.CreatedOn.ToShortDateString())</li>
    }
</ul>
*@